.cardDimension {
  width: 200px;
  display: inline-block;
  margin: 40px;
  cursor: pointer;
}
.card {
  height: 200px;
}
.card-text {
  width: 200px;
  padding: 5px;
  overflow: hidden;
  text-align: justify;
}
.imageCard {
  position: relative;
}
.iconDivRight {
  position: absolute;
  top: 5px;
  right: 5px;
}
.iconDivLeft {
  position: absolute;
  top: 0px;
}
.iconShare {
  margin-left: 15px;
}
